* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: #111 !important;
	/* overflow-x: hidden !important; */
}

body,
html {
	overflow-x: hidden !important;
}

body {
	background: #f9f5f2;
	scrollbar-gutter: stable;
}

a {
	text-decoration: none;
}

.page {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page main {
	width: 100%;
}

.page > a {
	font-size: 22.5px;
	padding: 11px 28px;
	border: 1px solid #111;
	border-radius: 100px;
	margin-bottom: 50px;
}

.page > p {
	font-weight: 500;
	font-size: 40px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 17.5px;
}

@media (width < 900px) {
	.page > p {
		font-size: 40px;
	}
}

@media (width < 725px) {
	.page > p {
		font-size: 30px;
	}
}

@media (width < 550px) {
	.page nav,
	.page section {
		padding-right: 40px !important;
		padding-left: 40px !important;
	}

	.page > p {
		font-size: 25px;
	}
}

@media (width < 450px) {
	.page nav,
	.page section {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
}
