.paragraph {
  width: 50vw;
  height: 100vh;
}

.text {
  font-size: 2.35vh;
}

.title {
  display: block;
  width: 100vw;
  text-align: center;
}

.aboutMe {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transform: translateY(-25vh);
}

.image {
  height: 650px;
  width: 650px;
  opacity: 0;
  position: absolute;
  right: 0;
}

@media (orientation: landscape) {
  .image {
    animation: moveImage 1s ease-in-out 1s 1 forwards;
  }
  .paragraph {
    animation: moveParagraph 1s ease-in-out 0s 1 forwards;
  }
  .title {
    transform: translateY(300px);
  }
}

@keyframes moveParagraph {
  from {
    transform: translateY(125vh);
    opacity: 0;
  }
  to {
    transform: translateY(42.5vh);
    opacity: 1;
  }
}

@keyframes moveImage {
  from {
    top: 0vh;
    opacity: 0;
  }
  to {
    top: 40vh;
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .paragraph {
    width: 100vw;
    transform: translateY(300px);
  }
  .image {
    height: 500px;
    width: 500px;
    transform: translateY(100vh);
    opacity: 1;
  }
  .title {
    transform: translateY(300px);
  }
}
