.paragraph {
  animation: moveParagraph 1s ease-in-out 0s 1 forwards;
  width: 50vw;
  height: 100vh;
}

.text {
  font-size: 115%;
}

.title {
  transform: translateY(300px);
  display: block;
  width: 100vw;
  text-align: center;
}

.aboutMe {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transform: translateY(-25vh);
}

.image {
  display: inline;
  height: 50vw;
  width: 50vw;
  transform: translate(100vw, -200px);
  animation: moveImage 1s ease-in-out 1s 1 forwards;
}

.imageContainer {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
}

@keyframes moveParagraph {
  from {
    transform: translateY(125vh);
  }
  to {
    transform: translateY(42.5vh);
  }
}

@keyframes moveImage {
  from {
    transform: translate(100vw, -25vh);
  }
  to {
    transform: translate(50vw, -25vh);
  }
}
