.paragraph {
  animation: moveParagraph 1s ease-in-out 0s 1 forwards;
  width: 50vw;
  height: 100vh;
}

.text {
  font-size: 2.35vh;
}

.title {
  transform: translateY(300px);
  display: block;
  width: 100vw;
  text-align: center;
}

.aboutMe {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transform: translateY(-25vh);
}

.image {
  height: 650px;
  width: 650px;
  opacity: 0;
  animation: moveImage 1s ease-in-out 1s 1 forwards;
  position: absolute;
  top: 70vh;
}

@keyframes moveParagraph {
  from {
    transform: translateY(125vh);
    opacity: 0;
  }
  to {
    transform: translateY(42.5vh);
    opacity: 1;
  }
}

@keyframes moveImage {
  from {
    transform: translate(100vw, -30vh);
    opacity: 0;
  }
  to {
    transform: translate(50vw, -30vh);
    opacity: 1;
  }
}
