.cta {
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 25px;

	& h2 {
		font-size: 30px;
		font-weight: 600;
		text-align: center;
	}

	& p {
		text-wrap: balance;
		font-size: 18px;
		max-width: 450px;
		text-align: center;
	}

	& a {
		text-wrap: balance;
		text-align: center;
		background: #045ea9;
		color: white !important;
		padding: 12.5px 20px;
		border-radius: 7.5px;
		font-weight: 500;
	}
}
