@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #0e1538;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

textarea {
    resize: none;
}

/* @media (orientation: portrait) {
    body {
        overflow-x: hidden;
        overflow-y: visible;
    }
  } */


