.hero {
	width: min(100%, 1500px);
	padding-left: 90px;
	font-size: 100%;
}

.hero h2 {
	--font-size: 85;
	font-size: calc(var(--font-size) * 1px);
	font-weight: 500;
	overflow: hidden;
	line-height: 1.2;
}

.hero h2 > span {
	display: block;
	overflow: hidden;
}

.hero h2 > span span {
	position: relative;
	color: #111;
	animation: pullUp 0.9s forwards;
}

.hero h2 > span:first-child span:last-child {
	position: relative;
	margin-left: 30px;
	font-size: calc(var(--font-size) * 0.8px);
}

.hero h2 svg {
	position: absolute;
	top: -2.5px;
	left: -30px;
	height: 107.5%;
	animation: spin 9.25s forwards 0.6s;
}

.hero h2 > span:last-of-type span {
	top: 100px;
	animation: pullUp 0.9s forwards 0.5s;
}

.hero > p {
	width: 45%;
	font-size: 22px;
	margin-top: 25px;
	line-height: 1.6;
	letter-spacing: 1;
	opacity: 0;
	animation: fadeIn 0.8s forwards ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pullUp {
	0% {
		top: 100px;
	}
	100% {
		top: 0px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(160deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@media (width < 1200px) {
	.hero p:last-child {
		width: 60%;
	}
}

@media (width < 1100px) {
	.hero h2 {
		--font-size: 60;
	}

	.hero h2 svg {
		left: -38.5px;
	}

	.hero > p {
		width: 70%;
		font-size: 20px;
	}
}

@media (width < 800px) {
	.hero > p {
		font-size: 19px;
		width: 80%;
	}
}

@media (width < 700px) {
	.hero h2 {
		--font-size: 45;
	}
	.hero h2 svg {
		left: -44px;
	}
	.hero h2 > span:first-child span:last-child {
		margin-left: 25px;
	}
}

@media (width < 550px) {
	.hero > p {
		font-size: 18px;
		width: 90%;
	}
	.hero h2 {
		--font-size: 40;
	}
	.hero h2 svg {
		left: -46px;
	}
	.hero h2 > span:first-child span:last-child {
		margin-left: 20px;
	}
}

@media (width < 450px) {
	.hero h2 {
		--font-size: 35;
	}
	.hero h2 svg {
		left: -47px;
	}
	.hero h2 > span:first-child span:last-child {
		margin-left: 20px;
	}
	.hero > p {
		font-size: 16px;
		width: 95%;
	}
}

@media (width < 375px) {
	.hero h2 {
		--font-size: 30;
	}
	.hero h2 svg {
		left: -48.5px;
	}
	.hero h2 > span:first-child span:last-child {
		margin-left: 15px;
	}
	.hero > p {
		font-size: 16px;
		width: 95%;
	}
}
