.info {
  opacity: 0;
}

.hi {
  width: 70px;
  height: 40px;
  background: rgb(0, 140, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 17.10px;
  border-radius: 20px 20px 20px 0px;
}

.name {
  font-size: 60px;
  font-weight: 100;
}

.blink {
  animation: blink 1s linear infinite;
}

.actualLogo {
  text-align: center;
  width: 350px;
  height: 350px;
  padding: 50px;
  box-shadow: -10px -10px 50px 0 rgb(0, 140, 255),
    10px 10px 50px rgb(255, 140, 255);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logoTitle {
  font-size: 60px;
  margin-bottom: 20px;
}

.languageLogos {
  display: flex;
  gap: 25px;
}

.email,.github {
  text-decoration: none;
  color: inherit;
  
}

.email div,.github div {
  display: inline;
}

.home {
  display: flex;
  flex-direction: column;
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: rgba(0, 0, 0, 0);
  }
}

@keyframes moveInfo {
  from {
    opacity: 0;
    transform: translate(15vw, 50vw);
  }
  to {
    opacity: 1;
    transform: translate(15vw, 175px);
  }
}

@keyframes moveLogo {
  from {
    opacity: 0;
    transform: translate(60vw, 50vw);
  }
  to {
    opacity: 1;
    transform: translate(60vw, -50px);
  }
}

@media (orientation: landscape) {
  .actualLogo {
    animation: moveLogo 0.75s ease-in-out 1 forwards;
  }
  .info {
    animation: moveInfo 0.75s ease-in-out 0.75s 1 forwards;
  }
  .name, .email div,.github div,#faGradient,.logoTitle,.language {
    background: -webkit-linear-gradient(
    45deg,
    rgb(0, 140, 255),
    rgb(255, 140, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

@media (orientation: portrait) {
  .actualLogo {
    transform: translate(12.5vw, 15vh);
  }
  .info {
    transform: translate(15vw, 10vh);
    opacity: 1;
  }
  .home {
    height: 125vh;
  }
  .name, .email div,.github div,#faGradient,.logoTitle,.language {
    color: #1E90FF;
  }
}