.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background: #222;
    width: 100vw;
    border-bottom: 4px solid black;
    z-index: 2;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    width: 100vw;
  }
  
  .nav ul li {
    text-align: center;
    float: left;
    padding: 15px;
    font-style: none;
    border-right: 2px solid black;
    flex-grow: 1;
    min-width: 25vw;
  }
  
  .nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px
  }

  @media (orientation: portrait) {
    .nav {
      display: none;
    }
  }
  