.nav {
    position: absolute;
    top: 0;
    background: transparent;
    width: 100vw;
    z-index: 2;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
  }

  .links {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav ul li {
    text-align: center;
    float: left;
    font-style: none;
    padding: 15px;
  }
  
  .nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px
  }

  .name {
    font-size: 20px;
    margin-left: 50px;
    background: -webkit-linear-gradient(
    45deg,
    rgb(0, 140, 255),
    rgb(255, 140, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50vw;
  }

  @media (orientation: portrait) {
    .name {
      margin-right: 0;
      margin-left: 0;
    }
    .nav {
      display: flex;
      margin-bottom: 20px;
    }
    .nav ul li a {
      display: none;
    }
    .links {
      display: none;
      height: 0px;
      width: 0px;
    }
    .bar {
      display: flex;
      flex-direction: column;
      transform: rotateY(180deg);
      gap: 2.5px;
      cursor: pointer;
      margin-left: 10px;
      width: 50vw;
    }
    .bar1,.bar2,.bar3 {
      height: 2.5px;
      background: white;
    }
    .bar1 {
      width: 25px;
    }
    .bar2 {
      width: 17.5px;
    }
    .bar3 {
      width: 10px;
    }
  }
  