.projects {
	background: #f1e3d6;
	display: flex;
	align-items: center;
	margin-top: 140px;
	flex-direction: column;
	padding: 20px;

	& h2 {
		grid-column: 2;
		text-align: center;
		font-size: 32.5px;
		margin-top: 10px;
		margin-bottom: 35px;
		font-weight: 500;
	}
}

.projectsList {
	display: grid;
	grid-template-columns: 1fr 0px 1fr;
	row-gap: 40px;
	column-gap: 40px;
	padding-bottom: 35px;
}

.projectsList article {
	transition: transform 250ms;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	border-radius: 15px;

	& a {
		display: flex;
		flex-direction: column;
	}

	& img {
		border-radius: 0 0 15px 15px;
	}

	& h3 {
		background: white;
		border-radius: 15px 15px 0 0;
		padding: 10px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	& p {
		max-width: 600px;
		overflow-wrap: break-word;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		background: white;
		padding: 10px;
	}

	&:nth-of-type(1) {
		grid-column: 1;
	}
	&:nth-of-type(2) {
		grid-column: 3;
	}

	&:nth-of-type(3) {
		grid-column: 1 / -1;
		justify-self: center;
	}

	&:hover {
		transform: scale(1.02);
	}
}
