.links {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}