.links {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

@media (orientation: portrait) {
  .links {
    transform: translateY(50px);
    grid-template-rows: repeat(3,auto);
    grid-template-columns: auto;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hidden {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .img {
    height: 250px;
  }

.quizGame {
  width: 341px;
  height: 250px;
}

.ticTacToe {
    width: 285px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}