.projects {
	background: #f1e3d6;
	display: flex;
	align-items: center;
	margin-top: 140px;
	flex-direction: column;
	padding: 30px 40px;

	& h2 {
		grid-column: 2;
		text-align: center;
		font-size: 32.5px;
		margin-bottom: 50px;
		font-weight: 500;
		margin-top: 5px;
	}
}

.projectsList {
	display: grid;
	grid-template-columns: 1fr 0px 1fr;
	row-gap: 90px;
	column-gap: 80px;
	padding-bottom: 35px;
}

.projectsList article {
	transition: transform 250ms;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	text-align: center;
	border-radius: 15px;

	& a {
		display: flex;
		flex-direction: column;
	}

	& img {
		border-radius: 0 0 15px 15px;
	}

	& h3 {
		background: white;
		border-radius: 15px 15px 0 0;
		font-weight: 500;
		padding: 12.5px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&:nth-of-type(1) {
		grid-column: 1 / -1;
		justify-self: center;
	}

	&:nth-of-type(2) {
		grid-column: 1;
	}

	&:nth-of-type(3) {
		grid-column: 3;
	}

	&:hover {
		transform: scale(1.02);
	}
}

@media (width < 1350px) {
	.projectsList {
		display: flex;
		flex-direction: column;
		gap: 50px;

		& article {
			margin: 0 auto;
			width: min(100%, 1000px);
			height: min(100%, 500px);
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
