.projectSection {
	background: #f1e3d6;
	display: flex;
	align-items: center;
	margin-top: 140px;
	flex-direction: column;
	padding: 20px;

	& h2 {
		grid-column: 2;
		text-align: center;
		font-size: 30px;
		margin-bottom: 25px;
		font-weight: 500;
	}

	a {
		text-decoration: none;
		color: #111;
	}
}

.projects {
	display: grid;
	grid-template-columns: 1fr 0px 1fr;
	row-gap: 25px;
	column-gap: 20px;
}

.projects article {
	transition: transform 250ms;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	border-radius: 15px;

	a {
		display: flex;
		flex-direction: column;
	}

	img {
		border-radius: 0 0 15px 15px;
	}

	h3 {
		background: white;
		border-radius: 15px 15px 0 0;
		padding: 10px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	p {
		max-width: 600px;
		overflow-wrap: break-word;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		background: white;
		padding: 10px;
	}

	text-align: center;

	&:nth-of-type(1) {
		grid-column: 1;
	}
	&:nth-of-type(2) {
		grid-column: 3;
	}

	&:nth-of-type(3) {
		grid-column: 1 / -1;
		justify-self: center;
	}

	&:hover {
		transform: scale(1.02);
	}
}
